/* line 1, ../sass/style.scss */
body {
  font-family: 'Roboto', 'Chivo', 'Darker Grotesque', 'Quicksand', 'Pavanam', sans-serif;
  background-color: #ECF0F2;
}
/* line 5, ../sass/style.scss */
body .title {
  width: 100%;
  font-size: 32px;
  font-weight: 200;
  background: transparent;
  border: none;
  outline: none !important;
}
/* line 14, ../sass/style.scss */
body .search-bar {
  background: #CFD7DB;
  border: none;
  border-radius: 36px;
  height: 36px;
  width: 300px;
  padding: 0 12px;
  outline: none;
  color: #54617A;
  font-size: 14px;
}

/* line 27, ../sass/style.scss */
.ux-activity {
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
/* line 33, ../sass/style.scss */
.ux-activity img {
  max-width: 64px;
}
/* line 37, ../sass/style.scss */
.ux-activity h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Montserrat';
}
/* line 43, ../sass/style.scss */
.ux-activity button {
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 6px 12px;
  border: 3px solid #222;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}
/* line 54, ../sass/style.scss */
.ux-activity .detail {
  display: none;
}
/* line 58, ../sass/style.scss */
.ux-activity.liquid {
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  color: #fff;
  min-height: 300px;
  transition: all 0.15s ease-in;
}
/* line 65, ../sass/style.scss */
.ux-activity.liquid:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
/* line 70, ../sass/style.scss */
.ux-activity.liquid::after {
  content: ' ';
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  z-index: 2;
}
/* line 83, ../sass/style.scss */
.ux-activity.liquid.req {
  background-image: url("../img/requirements.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 91, ../sass/style.scss */
.ux-activity.liquid.interview {
  background-image: url("../img/interviews.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 98, ../sass/style.scss */
.ux-activity.liquid.focus {
  background-image: url("../img/focus-grp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 105, ../sass/style.scss */
.ux-activity.liquid.survey {
  background-image: url("../img/survey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 113, ../sass/style.scss */
.ux-activity.liquid.audit {
  background-image: url("../img/audit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 120, ../sass/style.scss */
.ux-activity.liquid.low-fi {
  background-image: url("../img/low-fi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 127, ../sass/style.scss */
.ux-activity.liquid.hi-fi {
  background-image: url("../img/prototype.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 134, ../sass/style.scss */
.ux-activity.liquid.abtest {
  background-image: url("../img/ab-test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 141, ../sass/style.scss */
.ux-activity.liquid.analytics {
  background-image: url("../img/analytics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 148, ../sass/style.scss */
.ux-activity.liquid.heuristic {
  background-image: url("../img/heuristic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 155, ../sass/style.scss */
.ux-activity.liquid.anthropology {
  background-image: url("../img/anthropology.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 162, ../sass/style.scss */
.ux-activity.liquid.design-system {
  background-image: url("../img/design-system.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 169, ../sass/style.scss */
.ux-activity.liquid.interaction {
  background-image: url("../img/interaction.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 176, ../sass/style.scss */
.ux-activity.liquid.graphic {
  background-image: url("../img/graphic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 183, ../sass/style.scss */
.ux-activity.liquid h3 {
  letter-spacing: 0.02em;
  font-family: 'Roboto';
  text-transform: none !important;
  font-weight: 200;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
}
/* line 193, ../sass/style.scss */
.ux-activity.liquid .add-btn {
  outline: none;
  border: none;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding: 1px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 40px;
  z-index: 3;
}
/* line 212, ../sass/style.scss */
.ux-activity.liquid .add-btn .plus {
  width: 100%;
}
/* line 216, ../sass/style.scss */
.ux-activity.liquid .add-btn .check {
  width: 100%;
  display: none;
}
/* line 221, ../sass/style.scss */
.ux-activity.liquid .add-btn div {
  width: 32px;
  height: 32px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 31px;
}
/* line 231, ../sass/style.scss */
.ux-activity.liquid .type {
  font-weight: 600;
  font-size: 12px;
  position: relative;
  z-index: 3;
}
/* line 238, ../sass/style.scss */
.ux-activity.liquid button.liquid {
  font-family: 'Roboto';
  letter-spacing: 0.05em;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
  width: 150px;
  height: 30px;
  text-align: center;
  border: none;
  font-weight: 400;
  background-color: #1F8EFA;
  cursor: pointer;
  text-transform: none !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  z-index: 3;
}

/* line 262, ../sass/style.scss */
.ux-plan {
  display: none;
}

/* line 266, ../sass/style.scss */
footer {
  font-size: 10px;
  color: #54617A;
  margin: 20px 0;
}
/* line 271, ../sass/style.scss */
footer a, footer a:hover, footer a:focus, footer a:visited {
  color: #54617A;
  text-decoration: none;
  outline: none;
  font-weight: 600;
}
