/* line 1, ../sass/style.scss */
body {
  font-family: 'Roboto', 'Chivo', 'Darker Grotesque', 'Quicksand', 'Pavanam', sans-serif;
  background-color: #F9FAFB;
}
/* line 5, ../sass/style.scss */
body .title {
  width: 100%;
  font-size: 32px;
  font-weight: 200;
  background: transparent;
  border: none;
  outline: none !important;
}
/* line 14, ../sass/style.scss */
body .search-bar {
  background: #CFD7DB;
  border: none;
  border-radius: 36px;
  height: 36px;
  width: 300px;
  padding: 0 12px;
  outline: none;
  color: #54617A;
  font-size: 14px;
}

/* line 27, ../sass/style.scss */
.ux-activity {
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  color: #666;
  min-height: 300px;
  transition: all 0.15s ease-in;
}
/* line 38, ../sass/style.scss */
.ux-activity:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
/* line 45, ../sass/style.scss */
.ux-activity.checked .add-btn .plus {
  display: none;
}
/* line 49, ../sass/style.scss */
.ux-activity.checked .add-btn .check {
  display: block;
}
/* line 56, ../sass/style.scss */
.ux-activity img {
  max-width: 120px;
}
/* line 60, ../sass/style.scss */
.ux-activity h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Montserrat';
}
/* line 66, ../sass/style.scss */
.ux-activity button {
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 6px 12px;
  border: 3px solid #222;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}
/* line 77, ../sass/style.scss */
.ux-activity .detail {
  display: none;
}
/* line 81, ../sass/style.scss */
.ux-activity h3 {
  letter-spacing: 0.02em;
  font-family: 'Roboto';
  text-transform: none !important;
  font-weight: 200;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
}
/* line 91, ../sass/style.scss */
.ux-activity .add-btn {
  outline: none;
  border: none;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding: 1px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 40px;
  z-index: 3;
}
/* line 110, ../sass/style.scss */
.ux-activity .add-btn .plus {
  width: 100%;
}
/* line 114, ../sass/style.scss */
.ux-activity .add-btn .check {
  width: 100%;
  display: none;
}
/* line 119, ../sass/style.scss */
.ux-activity .add-btn div {
  width: 32px;
  height: 32px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 31px;
}
/* line 129, ../sass/style.scss */
.ux-activity .text {
  position: absolute;
  margin-left: 130px;
  margin-right: 16px;
}
/* line 135, ../sass/style.scss */
.ux-activity .type {
  font-weight: 600;
  font-size: 12px;
  position: relative;
  z-index: 3;
}
/* line 142, ../sass/style.scss */
.ux-activity.liquid {
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  color: #fff;
  min-height: 300px;
  transition: all 0.15s ease-in;
  padding-left: 4px;
}
/* line 150, ../sass/style.scss */
.ux-activity.liquid:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
/* line 155, ../sass/style.scss */
.ux-activity.liquid::after {
  content: ' ';
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  z-index: 2;
}
/* line 168, ../sass/style.scss */
.ux-activity.liquid.req {
  background-image: url("../img/requirement.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 176, ../sass/style.scss */
.ux-activity.liquid.interview {
  background-image: url("../img/interviews.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 183, ../sass/style.scss */
.ux-activity.liquid.focus {
  background-image: url("../img/focus-grp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 190, ../sass/style.scss */
.ux-activity.liquid.record {
  background-image: url("../img/record.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 197, ../sass/style.scss */
.ux-activity.liquid.survey {
  background-image: url("../img/survey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 205, ../sass/style.scss */
.ux-activity.liquid.paper {
  background-image: url("../img/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 213, ../sass/style.scss */
.ux-activity.liquid.sketch {
  background-image: url("../img/sketch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 221, ../sass/style.scss */
.ux-activity.liquid.storyboard {
  background-image: url("../img/storyboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 229, ../sass/style.scss */
.ux-activity.liquid.audit {
  background-image: url("../img/audit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 236, ../sass/style.scss */
.ux-activity.liquid.low-fi {
  background-image: url("../img/low-fi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 243, ../sass/style.scss */
.ux-activity.liquid.hi-fi {
  background-image: url("../img/mock.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 250, ../sass/style.scss */
.ux-activity.liquid.abtest {
  background-image: url("../img/ab-test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 257, ../sass/style.scss */
.ux-activity.liquid.analytics {
  background-image: url("../img/analytics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 264, ../sass/style.scss */
.ux-activity.liquid.heuristic {
  background-image: url("../img/heuristic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 271, ../sass/style.scss */
.ux-activity.liquid.anthropology {
  background-image: url("../img/anthropology.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 278, ../sass/style.scss */
.ux-activity.liquid.design-system {
  background-image: url("../img/design-system.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 285, ../sass/style.scss */
.ux-activity.liquid.interaction {
  background-image: url("../img/interaction.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 292, ../sass/style.scss */
.ux-activity.liquid.interactive {
  background-image: url("../img/prototype.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 299, ../sass/style.scss */
.ux-activity.liquid.graphic {
  background-image: url("../img/graphic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 306, ../sass/style.scss */
.ux-activity.liquid.info-arch {
  background-image: url("../img/info-arch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 313, ../sass/style.scss */
.ux-activity.liquid.eye-track {
  background-image: url("../img/eye-track.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 320, ../sass/style.scss */
.ux-activity.liquid.card-sort {
  background-image: url("../img/card-sort.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 327, ../sass/style.scss */
.ux-activity.liquid h3 {
  letter-spacing: 0.02em;
  font-family: 'Roboto';
  text-transform: none !important;
  font-weight: 200;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
}
/* line 337, ../sass/style.scss */
.ux-activity.liquid .add-btn {
  outline: none;
  border: none;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding: 1px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 40px;
  z-index: 3;
}
/* line 356, ../sass/style.scss */
.ux-activity.liquid .add-btn .plus {
  width: 100%;
}
/* line 360, ../sass/style.scss */
.ux-activity.liquid .add-btn .check {
  width: 100%;
  display: none;
}
/* line 365, ../sass/style.scss */
.ux-activity.liquid .add-btn div {
  width: 32px;
  height: 32px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 31px;
}
/* line 375, ../sass/style.scss */
.ux-activity.liquid .type {
  font-weight: 600;
  font-size: 12px;
  position: relative;
  z-index: 3;
}
/* line 382, ../sass/style.scss */
.ux-activity.liquid button.liquid {
  font-family: 'Roboto';
  letter-spacing: 0.05em;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
  width: 150px;
  height: 30px;
  text-align: center;
  border: none;
  font-weight: 400;
  background-color: #1F8EFA;
  cursor: pointer;
  text-transform: none !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  z-index: 3;
}

/* line 406, ../sass/style.scss */
.ux-plan {
  display: none;
}

/* line 410, ../sass/style.scss */
footer {
  font-size: 10px;
  color: #54617A;
  margin: 20px 0;
}
/* line 415, ../sass/style.scss */
footer a, footer a:hover, footer a:focus, footer a:visited {
  color: #54617A;
  text-decoration: none;
  outline: none;
  font-weight: 600;
}
